# Dependencias
node_modules/
/frontend/node_modules/
/backend/node_modules/

# Build
/frontend/dist/
/backend/dist/
/backend/out/

# Entornos
.env
.env.local

# Credenciales
/backend/service-account.json

# IDE
.idea/
.vscode/

# Logs
npm-debug.log
yarn-error.log
*.log

# Opcional (Data JSON que generaremos)
/backend/data/
